/* Define your theme modifications inside next mixin */
@mixin com_company_demo-halo-ext {
  .AceEditorWidget {
    .ace_editor {
      font-size: 24px !important;
    }
  }

  $border: 1px solid slategray;

  .expand-slot-border {
    .v-expand {
      border: $border;
    }

    .v-slot {
      border-top: $border;
    }

    .v-slot:first-child {
      border-top: none;
    }
  }

  .slot-border {
    .v-slot {
      border: $border;
    }

    .v-slot:first-child {
      border-bottom: none;
    }
  }

  .c-groupbox {
    .v-expand {
      border: none;
    }
  }

  .slot-padding {
    .v-slot {
      padding: 2px;
    }
  }
}